body{
    background-color: #d2b48c;
    margin-left: 19%;
    margin-right: 19%;
    margin-top:1%;
    margin-bottom:1%;
    border-style: solid dashed inset dashed;
    border-color: pink;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif; /*font-family:"Comic Sans MS", cursive, sans-serif; (crazy font)*/

}

p.home::first-letter {
	color: red;
	text-decoration: none;
}

p.home{
	text-decoration: none;
}

h2{
	color: #813b51;
}

h2 a{
	color: #044c45;
}

a{
	color: #625858;
    text-decoration: none; 
}

a:hover {
    color: #ff0000;
    /*font-size: 20%; /*fun for Max*/*/
}
#mei {
   background-image: url('images/mem1.png');
   height: 300px;
   width: 300px;
}

#mei:hover {
   background-image: url('images/mem2.png');
}

#mei:active {
    background-image: url('images/mem3.png');
}

a:active {
    color: #ff4d4d;
    /*font-size: 300%;
    float: left;/*fun for Max*/*/
}
a:hover.home {
	color: #FF69B4;
}

a:active.home {
    color:lightpink;
}

/*a:link{	
    background-color: green;
}*/